{% extends 'base.html' %}
{% block body %}
<div class="container">
    <div class="row"  style="padding:20px;">

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <input type="text" name="name" placeholder="Enter your movie name"><br><br>
    <input type="text" name="title" placeholder="Enter the title"><br><br>
    <input type="text" name="desc" placeholder="Enter the description"><br><br>
    <input type="text" name="year" placeholder="Enter the year"><br><br>
    <input type="file" name="img"><br><br>
    <input type="submit">
</form>
    </div>
</div>
{% endblock %}