<!DOCTYPE html>
<html lang="en" xmlns:background-image="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<h2> Registration Form</h2>
<form action="register" method="POST">
    {% csrf_token %}
    <input type = "text" name="username" placeholder="Enter the Username"><br>
    <input type = "text" name="first_name" placeholder="Enter your firstname"><br>
    <input type = "text" name="last_name" placeholder="Enter your lastname"><br>
    <input type = "email" name="email" placeholder="Enter your email address"><br>
    <input type = "password" name="password" placeholder="Enter the Password"><br>
    <input type = "password" name="password1" placeholder="Confirm Password"><br>
    <input type = "submit">
</form>
{% for msg in messages %}
{{msg}}
{% endfor %}
</body>
</html>